
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello aspnetcore mvc!</title>
</head>
<body>
    <f2>Hello aspnetcore mvc!</f2>
</body>
</html>
